.maincontent {
  position: relative;
  display: flex;
  height: 95vh;
  color: #fff;
  text-align: center;
  margin-top: 5rem;
  flex-direction: column;
}

.container {
  padding: 20px;
  position: absolute;
  top: 20%;
}

.container h1 {
  font-size: 3vmax;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.crousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
}
.crousel span {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border: 2px rgb(250, 241, 241);
  background-color: #ccc;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 3px 2px 2px rgb(red, green, blue);
}
.btn {
  display: inline-block;
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #ff8533;
}
.btn a {
  text-decoration: none;
  color: #ffff;
}

@media screen and (max-width: 768px) {
  .maincontent {
    width: 100%;
    overflow-y: scroll;
  }
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .btn {
    font-size: 1rem;
    padding: 8px 15px;
  }
}
