*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.HomePages {
 
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

/* Styles for screens smaller than or equal to 768px */
@media (max-width: 768px) {
  .HomePages {
  
    width: 100%;
  }
}
@media (max-width: 400px) {
  .HomePages {
    
    width: 100%;
  }
}








