@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Roboto&display=swap');
.container{
  width: 100vw;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul li{
  list-style: none;
}
.footer{
  background-color: #24262b;
  padding: 70px 0;
}
.footercol{
  width: 33%;
  padding: 0 25px;

}
.footercol h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  position: relative;
}
.footercol h4::before{
content: " ";
position: absolute;
left: 0;bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;

}
.footercol ul li:not(:last-child){
  margin-bottom: 10px;
}
.footercol ul a{
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  display: block;
 transition: all .3s ease;
}
 ul a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footercol .social a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: rgb(255, 255, 255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all .5s ease;
  text-align: center;
  color: #ffffff;
}
.footercol .social a:hover{
  color: #24262b;
  background-color: white;
}

@media screen and (max-width:768px) {
  .footercol{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width:574px) {
  .footercol{
    width: 100%;
    margin-bottom: 30px;
  }
}










